html {
  background: url('room.jpg') top center no-repeat;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clock {
  position: fixed;
  top: 5vh;
  left: calc(50% - 200px);
  width: 200px;
  height: 200px;
  background: url('no-hands-clock.png') center no-repeat;
  background-size: cover;
}

.hand {
  position: absolute;
  top: calc(50% - 2px);
  left: 18%;
  width: 32%;
  height: 4px;
  background-color: #333;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: 0.05s cubic-bezier(0, 1.69, 0.7, 1.32);
}
